<section class="headerSec">
  <div class="row pb-5">
    <div class="col-lg-12">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-uppercase pri-heading">what user says</h1>
        <p class="sec-heading">
          Testimonials that speak louder than words! Customer stories that light
          up our day.
        </p>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-around align-content-center">
    <div class="col-lg-3">
      <div class="card cardBg">
        <div class="card-body">
          <img
            class="user-img mb-3"
            src="https://s3-alpha-sig.figma.com/img/318f/f2fc/e7605573975dd86b6b5e442257958e1a?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jzeehBo64iRUAMmr9cZDgfinbJE1h3ivS3ofRBRBPCdxWOLNajHGD3qEK45-hRnKBwNL8rR8vmnguEr~oEKTOY-w22unt0ALk55yrNwfPfoyb-e~neYJruBgXjTlkZS7NVjzuDrgMN2TbB9fFWoyLYYWyWGGGUCj14Z~TKjGzXbaYlA1XMteJLeJpf65F9UNwJC4DW9WDFWQwKf-bjRReyVbha4qOl~VGbf0udUcuBN8pz5g7akmfH60wrNSCPo8OkJi7xVqJhuOofQiNdoVLKgXJDbxBLv9hxiKPmyW5tyVmli2RdR7wTkTBmYuqRnm01VO6Gx9CA~WBh8Za6O7CQ__"
            alt=""
          />
          <h5>jacob jones</h5>
          <p>
            As a budding startup, we sought a financial solution that was
            simple, secure, and scalable. Swift Revel checked all the boxes,
            enabling focus on growth.  
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card cardBg">
        <div class="card-body">
          <img
            class="user-img mb-3"
            src="https://s3-alpha-sig.figma.com/img/318f/f2fc/e7605573975dd86b6b5e442257958e1a?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jzeehBo64iRUAMmr9cZDgfinbJE1h3ivS3ofRBRBPCdxWOLNajHGD3qEK45-hRnKBwNL8rR8vmnguEr~oEKTOY-w22unt0ALk55yrNwfPfoyb-e~neYJruBgXjTlkZS7NVjzuDrgMN2TbB9fFWoyLYYWyWGGGUCj14Z~TKjGzXbaYlA1XMteJLeJpf65F9UNwJC4DW9WDFWQwKf-bjRReyVbha4qOl~VGbf0udUcuBN8pz5g7akmfH60wrNSCPo8OkJi7xVqJhuOofQiNdoVLKgXJDbxBLv9hxiKPmyW5tyVmli2RdR7wTkTBmYuqRnm01VO6Gx9CA~WBh8Za6O7CQ__       "
            alt=""
          />
          <h5>jacob jones</h5>
          <p>
            As a budding startup, we sought a financial solution that was
            simple, secure, and scalable. Swift Revel checked all the boxes,
            enabling focus on growth.  
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card cardBg">
        <div class="card-body">
          <img
            class="user-img mb-3"
            src="https://s3-alpha-sig.figma.com/img/318f/f2fc/e7605573975dd86b6b5e442257958e1a?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jzeehBo64iRUAMmr9cZDgfinbJE1h3ivS3ofRBRBPCdxWOLNajHGD3qEK45-hRnKBwNL8rR8vmnguEr~oEKTOY-w22unt0ALk55yrNwfPfoyb-e~neYJruBgXjTlkZS7NVjzuDrgMN2TbB9fFWoyLYYWyWGGGUCj14Z~TKjGzXbaYlA1XMteJLeJpf65F9UNwJC4DW9WDFWQwKf-bjRReyVbha4qOl~VGbf0udUcuBN8pz5g7akmfH60wrNSCPo8OkJi7xVqJhuOofQiNdoVLKgXJDbxBLv9hxiKPmyW5tyVmli2RdR7wTkTBmYuqRnm01VO6Gx9CA~WBh8Za6O7CQ__       "
            alt=""
          />
          <h5>jacob jones</h5>
          <p>
            As a budding startup, we sought a financial solution that was
            simple, secure, and scalable. Swift Revel checked all the boxes,
            enabling focus on growth.  
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card cardBg">
        <div class="card-body">
          <img
            class="user-img mb-3"
            src="https://s3-alpha-sig.figma.com/img/318f/f2fc/e7605573975dd86b6b5e442257958e1a?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jzeehBo64iRUAMmr9cZDgfinbJE1h3ivS3ofRBRBPCdxWOLNajHGD3qEK45-hRnKBwNL8rR8vmnguEr~oEKTOY-w22unt0ALk55yrNwfPfoyb-e~neYJruBgXjTlkZS7NVjzuDrgMN2TbB9fFWoyLYYWyWGGGUCj14Z~TKjGzXbaYlA1XMteJLeJpf65F9UNwJC4DW9WDFWQwKf-bjRReyVbha4qOl~VGbf0udUcuBN8pz5g7akmfH60wrNSCPo8OkJi7xVqJhuOofQiNdoVLKgXJDbxBLv9hxiKPmyW5tyVmli2RdR7wTkTBmYuqRnm01VO6Gx9CA~WBh8Za6O7CQ__       "
            alt=""
          />
          <h5>jacob jones</h5>
          <p>
            As a budding startup, we sought a financial solution that was
            simple, secure, and scalable. Swift Revel checked all the boxes,
            enabling focus on growth.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
